<!DOCTYPE html>
<html lang="en">
<head>

    <title>SWG RO Account System - {% block title %}{{ title }}{% endblock %}</title>

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ base_url() }}/ui_elements/img/swgroicon.png" type="image/png"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-3.2.1/dt-1.10.16/b-1.5.1/fc-3.2.4/fh-3.1.3/r-2.2.1/datatables.min.css"/>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url() }}/ui_elements/css/default.css">


    <script>
        var tokenURL = "{{ baseURL }}{{ tokenURL }}";
        var statusURL = "{{ baseURL }}{{ statusURL }}";
    </script>
</head>
<body>
<nav class="navbar navbar-inverse">
    {% include 'admintopbar.twig' %}
</nav>

<div class="wrapper">
    <div class="sidebar">
        {% include 'adminsidebar.twig' %}
    </div>
    <div class="admincontent">
        {% block content %} {% endblock %}
    </div>
</div>

<footer class="navbar navbar-inverse">
    <div class="container">
        <div class="foot"></div>
    </div>
</footer>




<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-3.2.1/dt-1.10.16/b-1.5.1/fc-3.2.4/fh-3.1.3/r-2.2.1/datatables.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{{ base_url() }}/ui_elements/js/utils.js"></script>

<script>
    $(document).ready(function() {
        $('#summernote').summernote();
    });
</script>
{% block jsmodules %} {% endblock %}

</body>
</html>