<div class="nav-side-menu">
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li {{ 'overview' in route ? 'class="active"' }} >
                <a href="{{ path_for('overview') }}"><i class="fas fa-tachometer-alt fa-lg"></i> Overview</a>
            </li>

            {% if useAuth == true %}
                <li data-toggle="collapse" data-target="#authcodes" class="{{ 'authcodes' in route ? '':'collapsed'}}">
                    <a href="javascript:void(0);"><i class="fas fa-barcode fa-lg"></i> Auth Codes<span class="arrow"></span></a>
                </li>

                <ul class="sub-menu collapse {{ 'authcodes' in route ? 'in' }}" id="authcodes" {{ 'authcodes' in route ? 'aria-expanded="true"': null}}>
                    {%  if userPerms.authcodes.create == "c"%}
                        <li {{ 'createauth' in route ? 'class="active"' }}><a href="{{path_for('createauth')}}">Create Authcode</a></li>
                    {% endif %}
                    {%  if userPerms.authcodes.read == "r"%}
                        <li {{ 'viewallused' in route ? 'class="active"' }}><a href="{{path_for('viewallused')}}">View Used Authcodes</a></li>
                        <li><a href="#">View Not Used Authcodes</a></li>
                    {% endif %}
                </ul>
            {% endif %}

            <li data-toggle="collapse" data-target="#updates" class="{{ 'gameupdates' in route ? '':'collapsed'}}">
                <a href="javascript:void(0);"><i class="fas fa-wrench fa-lg"></i> Game Updates<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse {{ 'gameupdates' in route ? 'in' }}" id="updates" {{ 'gameupdates' in route ? 'aria-expanded="true"': null}}>

                <li data-toggle="collapse" data-target="#server" class="{{ 'serverpatch' in route ? '':'collapsed'}} ">
                    <a href="javascript:void(0);">Server Patches <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse {{ 'serverpatch' in route ? 'in' }}" id="server" {{ 'serverpatch' in route ? 'aria-expanded="true"': null}}>
                    {%  if userPerms.gameupdates.create == "c"%}
                        <li {{ 'createserverpatch' in route ? 'class="active"' }}><a href="{{path_for('createserverpatch')}}">Create Server Patch</a></li>
                    {%  endif %}
                    {%  if userPerms.gameupdates.read == "r"%}
                        <li {{ 'viewserverpatches' in route ? 'class="active"' }}><a href="{{path_for('viewserverpatches')}}">View Server Patches</a></li>
                    {% endif %}
                </ul>

                <!--
                <li data-toggle="collapse" data-target="#launcher" class="{{ 'launcherpatch' in route ? '':'collapsed'}}">
                    <a href="javascript:void(0);">Launcher Patches <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse {{ 'launcherpatch' in route ? 'in' }}" id="launcher" {{ 'launcherpatch' in route ? 'aria-expanded="true"': null}}>
                    {%  if userPerms.gameupdates.create == "c"%}
                        <li><a href="">Create Launcher Patch</a></li>
                    {% endif %}
                    {%  if userPerms.gameupdates.read == "r"%}
                        <li><a href="">View Launcher Patches</a></li>
                    {% endif %}
                </ul>
                <li data-toggle="collapse" data-target="#client" class="{{ 'clientpatch' in route ? '':'collapsed'}}">
                    <a href="javascript:void(0);">Client Patches <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse {{ 'clientpatch' in route ? 'in' }}" id="client" {{ 'clientpatch' in route ? 'aria-expanded="true"': null}}>
                    <li><a href="">Create Client Patch</a></li>
                    <li><a href="">View Client Patches</a></li>
                </ul>
                -->
            </ul>

            <li data-toggle="collapse" data-target="#admintasks" class="{{ 'administration' in route ? '':'collapsed'}}">
                <a href="javascript:void(0);"><i class="fas fa-user-secret fa-lg"></i> Adminstrator <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse {{ 'administration' in route ? 'in' }}" id="admintasks"  {{ 'administration' in route ? 'aria-expanded="true"': null}}>
                {%  if userPerms.users.create == "c"%}
                    <li {{ 'createuserview' in route ? 'class="active"' }}><a href="{{path_for('createuserview')}}">Create User</a></li>
                {% endif %}
                {%  if userPerms.users.read == "r"%}
                    <li {{ 'viewusers' in route ? 'class="active"' }}><a href="{{path_for('viewusers')}}">View User</a></li>
                {% endif %}
                {%  if userPerms.roles.create == "c"%}
                    <li {{ 'createrole' in route ? 'class="active"' }}><a href="{{path_for('createrole')}}">Create Role</a></li>
                {% endif %}
                {%  if userPerms.roles.read == "r"%}
                    <li {{ 'viewroles' in route ? 'class="active"' }}><a href="{{path_for('viewroles')}}">View Roles</a></li>
                {% endif %}
            </ul>
        </ul>
    </div>
</div>